# 安装 Apache Maven
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
Apache Maven 的安装是一个简单的过程，解压归档文件，并将带有`mvn`命令的`bin`文件夹添加到`PATH`中。

具体步骤如下：

* 确保设置了`JAVA_HOME`环境变量并指向您的 JDK 安装

* 在任何目录中解压分发存档

```cmd
unzip apache-maven-${currentStableVersion}-bin.zip
```
or
```sh
tar xzvf apache-maven-${currentStableVersion}-bin.tar.gz
```

或者使用您首选的存档提取工具。

* 将创建的目录`apache-maven-${currentStableVersion}`中的`bin`目录添加到`PATH`环境变量中

* 在新的 shell 中使用`mvn -v`确认。结果应该类似于

```
Apache Maven ${currentStableVersion} (${currentStableVersionDetails})
Maven home: /opt/apache-maven-${currentStableVersion}
Java version: 1.8.0_45, vendor: Oracle Corporation
Java home: /Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "mac os x", version: "10.8.5", arch: "x86_64", family: "mac"
```

Windows 技巧
-----

* 检查环境变量值，如:

```cmd
echo %JAVA_HOME% 
C:\Program Files\Java\jdk1.7.0_51
```

* 添加到 `PATH`:  Add the unpacked distribution's bin directory to your user PATH environment variable
by opening up the system properties (WinKey + Pause), selecting the "Advanced" tab, and 
the "Environment Variables" button, then adding or selecting the <i>PATH</i>
variable in the user variables with the value `C:\Program Files\apache-maven-${currentStableVersion}\bin`.
The same dialog can be used to set `JAVA_HOME` to the location of your JDK, e.g. `C:\Program Files\Java\jdk1.7.0_51`

* 打开一个新的命令提示符 (Winkey + R 然后键入 `cmd`) 并运行 `mvn -v` 来验证安装。

基于 Unix 的操作系统 (Linux, Solaris and Mac OS X) 技巧
-----

* 检查环境变量值

```sh
echo $JAVA_HOME
/Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home
```

* 添加到 `PATH`

```sh
export PATH=/opt/apache-maven-${currentStableVersion}/bin:$PATH
```
